<!-- Header -->
<nav
  id="header"
  class="navbar navbar-expand-lg navbar-light bg-light border-bottom"
  th:fragment="header"
>
  <div class="container-fluid p-lg-4">
    <button class="btn btn-sm p-0" id="sidebarToggle">
      <iconify-icon
        icon="material-symbols:menu-rounded"
        width="24"
        height="24"
      ></iconify-icon>
    </button>
    <div class="d-flex align-items-center">
      <div class="header-right me-3" th:if="${accountDTO != null}">
        <div class="user-name" th:text="${accountDTO.displayName}">User</div>
        <div class="user-title" th:text="${accountDTO.title}">Title</div>
      </div>

      <div class="dropdown">
        <a
          class="dropdown-toggle d-flex align-items-center text-decoration-none"
          href="#"
          role="button"
          id="userDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            th:src="@{/images/avatar.png}"
            class="rounded-circle me-2"
            width="32"
            height="32"
            alt="Profile"
          />
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              th:href="@{/loginPage}"
            >
              <iconify-icon
                icon="mdi:logout-variant"
                class="me-2"
                width="20"
                height="20"
              ></iconify-icon>
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
